In [1]:
# Using make_column_transformer to One-Hot Encode
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from seaborn import load_dataset
import pandas as pd

In [5]:
df = load_dataset('penguins')
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [8]:
transformer = make_column_transformer(
    (OneHotEncoder(), ['island','sex']),
    remainder='passthrough')

transformed = transformer.fit_transform(df)
transformed_df = pd.DataFrame(
    transformed, 
    columns=transformer.get_feature_names_out()
)
transformed

array([[0.0, 0.0, 1.0, ..., 18.7, 181.0, 3750.0],
       [0.0, 0.0, 1.0, ..., 17.4, 186.0, 3800.0],
       [0.0, 0.0, 1.0, ..., 18.0, 195.0, 3250.0],
       ...,
       [1.0, 0.0, 0.0, ..., 15.7, 222.0, 5750.0],
       [1.0, 0.0, 0.0, ..., 14.8, 212.0, 5200.0],
       [1.0, 0.0, 0.0, ..., 16.1, 213.0, 5400.0]], dtype=object)